<div class="project-container">
  {{!-- {{#if showProjects}}
  {{>projects}}
  {{/if}} --}}
<div class="row">
  {{#each tasks}}
  <div class="col-md-3 mt-2 mb-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">{{title}}</h4>
        <hr>
        <h5 class="d-flex justify-content-start align-items-center">{{project}}</h5>
        <hr>
        <p>Task Number:{{taskNumber}}</p>
        <p>State: {{state}}</p>
        <p>Dificult:  {{difficult}}</p>
        <p>Description:</p>
        <p>{{description}}</p>
        <hr>
        <div class="buttons d-flex justify-content-between">
          <form action="/tasks/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger btn-sm">Delete</button>
          </form>
          <a href="/tasks/editor/{{_id}}" class="d-flex  justify-content-between"><span class="pr-2">Edit</span><i class="pt-1 fa fa-pencil"></i></a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>