<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Edit Task</h3>
    </div>
    <div class="card-body">
      <form action="/tasks/editor/{{task.id}}?_method=PUT" method="POST">
      <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <label for="task-title" class="text-left">Title of task</label>
          <input name="title" type="text" id="task-title" class="form-control" value="{{task.title}}">
        </div>
         <div class="form-group">
          <label for="task-project" class="text-left">Project</label>
          <input type="text" name="project" id="task-project" class="form-control" value="{{task.project}}">
        </div>
        <div class="form-group">
          <label for="task-decription" class="text-left">Task description</label>
          <textarea name="description" id="task-description" class="form-control">{{task.description}}</textarea>
        </div>
        <div class="form-group">
          <label for="task-taskNumber" class="text-left">Task number</label>
          <input type="text" name="taskNumber" class="form-control" id="task-taskNumber" value="{{task.taskNumber}}">
        </div>
         <div class="form-group">
          <label for="task-state" class="text-left">Task state</label>
          <input type="text" name="state" class="form-control" id="task-state" value="{{task.state}}">
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span for="task-dificult" class="col-4 pl-1 input-group-text bg-white">Difficult:</span>
            <input type="number" name="difficult" class="input-group-text pl-5 col-8 bg-white" id="task-dificult" value="{{task.difficult}}" required>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>