<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Fill a new task</h3>
    </div>
    <div class="card-body">
      <form action="/tasks/newTask" method="POST">
        <div class="form-group">
          <label for="task-title" class="text-left">Title of task</label>
          <input type="text" name="title" id="task-title" class="form-control" placeholder="Write here the name"
            autofocus required>
        </div>
        <div class="form-group">
          <label for="task-project" class="text-left">Project</label>
          <input type="text" name="project" id="task-project" class="form-control" placeholder="Write here the project"
            required>
        </div>
        <div class="form-group">
          <label for="task-decription" class="text-left">Task description</label>
          <input type="text" name="description" class="form-control" id="task-description"
            placeholder="Write here the description" required>
        </div>
        <div class="form-group">
          <label for="task-taskNumber" class="text-left">Task number</label>
          <input type="text" name="taskNumber" class="form-control" id="task-taskNumber"
            placeholder="Write here the number of the task" required>
        </div>
        <div class="form-group">
          <label for="task-state" class="text-left">Task state</label>
          <input type="text" name="state" class="form-control" id="task-state"
            placeholder="Write here the state" required>
        </div>
        <div class="form-group">
          <div class="input-group-prepend">
            <span for="task-dificult" class="col-4 pl-1 input-group-text bg-white">Difficult:</span>
            <input type="number" name="difficult" class="input-group-text pl-5 col-8 bg-white" id="task-dificult"
              required>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>