<div class="jumbotron md-4">
  <h1 class="display-4">TASKS TO DO</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at consectetur, corrupti in quo saepe.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex obcaecati non tenetur laudantium? Distinctio nihil nesciunt voluptas nisi natus explicabo.</p>
  <a href="/tasks/allTasks" class="btn btn-primary">Tasks</a>
</div>