<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container"><a class="navbar-brand" href="/">Task</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          {{>projects}}
        </li>

        <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
        </li>
        <li class="nav-item">
          <a href="/tasks/newTask" class="nav-link">New Task</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/users/signin" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/users/signup" class="nav-link">Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>