<div class="dropdown show">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    User project
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {{#each projects}}
    <a class="dropdown-item" href="/tasks/tasksbyProject/{{this}}">{{this}}</a>
    {{/each}}

    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/tasks/allTasks">See all tasks</a>
  </div>
</div>