<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header text-center">
        LOGIN HERE
      </div>
            <img src="/images/logo.jpeg" alt="logo de la hostia" class="rounded-circle mx-auto d-block m-a logo">

      <div class="card-body">
        <form action="/users/signin" method="POST">
        <div class="form-group">
          <input type="email" class="form-control" name="email", placeholder="Put here your Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password", placeholder="Put here your password">
        </div>
        <button class="btn btn-primary btn-block">
          Sign in
        </button>
        </form>
      </div>
    </div>
  </div>
</div>