<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header text-center">
        REGISTER HERE
      </div>
      <img src="/images/logo.jpeg" alt="logo de la hostia" class="rounded-circle mx-auto d-block m-a logo">
      <div class="card-body">
        <form action="/users/signup" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="name", placeholder="Put here your name", value="{{name}}">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email", placeholder="Put here your Email" value="{{email}}">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password", placeholder="Put here your password" value="{{password}}">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="confirmpassword", placeholder="Put here your password to confirm" value="{{confirmpassword}}">
        </div>
        <button class="btn btn-primary btn-block">
          Sign up
        </button>
        </form>
      </div>
    </div>
  </div>
</div>